@using CustomerSupport.Models
@model MStatistics
@{
    ViewBag.Title = "Página Inicio";
}

@*<section class="ss_about_sec_four">*@
<!--===== Section Five Start =====-->
<div class="happy_clients">
    <h3 class="ss_h3_center text-center">Nuestros Logros</h3>
    <h1 class="text-center"></h1>
</div>
<div class="ss_about_counter" id="counter">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">

                <div class="counter_div text-center wow fadeIn" data-wow-delay="0.1s" data-wow-duration="1s">
                    <img class="img-fluid" src="~/Content/assets/images/svg/icon-employee.svg" alt="image" />
                    <div class="ss_count counter-value" data-count=@Model.NroEmployee>0</div>
                    <h2>Empleados</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="counter_div text-center wow fadeIn" data-wow-delay="0.2s" data-wow-duration="1s">
                    <img class="img-fluid" src="~/Content/assets/images/svg/icon-client.svg" alt="image" />
                    <div class="ss_count counter-value" data-count=@Model.NroClient>0</div>
                    <h2>Clientes</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="counter_div text-center wow fadeIn" data-wow-delay="0.3s" data-wow-duration="1s">
                    <img class="img-fluid" src="~/Content/assets/images/svg/icon-service-pending.svg" alt="image" />
                    <div class="ss_count counter-value" data-count=@Model.ServicesProcess>0</div>
                    <h2>Servicios en Proceso</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="counter_div text-center wow fadeIn" data-wow-delay="0.4s" data-wow-duration="1s">
                    <img class="img-fluid" src="~/Content/assets/images/svg/icon-service-end.svg" alt="image" />
                    <div class="ss_count counter-value" data-count=@Model.servicesCompleted>0</div>
                    <h2>Servicios Finalizados</h2>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {

            var a = 0;
            var oTop = $('#counter').offset().top - window.innerHeight;
            if (a == 0) {
                $('.counter-value').each(function () {
                    var $this = $(this),
                        countTo = $this.attr('data-count');
                    $({
                        countNum: $this.text()
                    }).animate({
                        countNum: countTo
                    },

                        {

                            duration: 5000,
                            easing: 'swing',
                            step: function () {
                                $this.text(Math.floor(this.countNum));
                            },
                            complete: function () {
                                $this.text(this.countNum);
                                //alert('finished');
                            }

                        });
                });
                a = 1;
            }

        });

    </script>
}
